
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(0, 6, 15);
    /* background-image: url("../assets/bgcars.jpg"); */
    background-position: fixed;
    background-size: cover;
    color: aliceblue;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width:  100%;
    backdrop-filter: blur(10px);
}

.vertical-20 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.vertical-30 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.horizontal-20 {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.horizontal-40 {
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

